<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" >
<main>
    <th:block th:include="~{fragments/navbar-user}"/>

    <section class="general-form-page">
        <h2 class="general-form-heading">Process order</h2>

        <form class="general-form" th:method="post" th:action="@{/edit-order/{id}(id=${model.id})}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <div class="form-group">
                <label class="general-form-label" for="ODate">Date</label>
                <input class="general-form-field readonly-field" type="text" id="ODate" name="finishedOn" th:value="*{#temporals.format(model.finishedOn, 'dd-MM-yyyy HH:mm')}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="OTicker">Stock Ticker</label>
                <input class="general-form-field readonly-field" type="text" id="OTicker" name="ticker" th:value="${model.ticker}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="OCompName">Company Name</label>
                <input class="general-form-field readonly-field" type="text" id="OCompName" name="company" th:value="${model.company}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="OQuantityStocks">Quantity</label>
                <input class="general-form-field readonly-field" type="text" name="quantity" id="OQuantityStocks" th:value="${model.quantity}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="OType">Transaction Type</label>
                <input class="general-form-field readonly-field" type="text" name="type" id="OType" th:value="${model.type}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="OStatus">Status</label>
                <select class="general-form-field colored-field" name="status" id="OStatus"  th:field="*{model.status}" required>
                    <option value="New">New</option>
                    <option value="Completed">Completed</option>
                    <option value="Declined">Declined</option>
                </select>
            </div>

            <input class="general-form-button" type="submit" value="Send">
        </form>
    </section>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>