<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="stock">
<main class="main">

    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="all-wrapper">
        <a class="add-button add-stock-button" th:href="@{/create-stock}">Add Stock</a>

        <div class="all-cards-container">
            <th:block th:each="st : ${sts}">
                <div class="card all-stock-card">
                    <img class="card-image" th:src="${st.logoURL}">
                    <div class="card-content">
                        <p class="card-title" th:text="${st.name}"></p>
                        <div class="button-container">
                            <a class="card-button stock-button" th:href="@{/stock/details/{id}(id=${st.id})}">Details</a>
                            <a class="card-button stock-button" th:href="@{/stock/edit/{id}(id=${st.id})}">Edit</a>
                            <a class="card-button stock-button" th:href="@{/stock/delete/{id}(id=${st.id})}">Delete</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
