<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="stock">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="all-wrapper">
        <h2 class="all-heading">Top Stocks</h2>

        <div class="all-cards-container">
            <th:block th:each="stock : ${stocks}">
                <div class="card all-stock-card">
                    <img class="card-image" th:src="${stock.logoURL}" >
                    <div class="card-content">
                        <p class="card-title" th:text="${stock.name}"></p>
                        <div class="button-container">
                            <a class="card-button stock-button" th:href="@{/stock/details/{id}(id=${stock.id})}">Details</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
