<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="stock">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="details-page-wrapper">

        <div class="details-page-content">
            <section class="details-page-left-text-section">
                <img class="details-page-logo" th:src="${model.logoURL}" alt="logo">
                <p class="display-page-heading" th:text="${model.companyName}"></p>
                <p class="display-page-text" th:text="${model.description}"></p>

            </section>
            <section class="details-page-table-section">
                <a class="show-graphics-button stock-button" th:href="@{/order-this-stock/{id}(id=${model.id})}">Transaction</a>
                <a class="show-graphics-button stock-button" th:href="@{/graphics/stock/{id}(id=${model.id})}">Graphics</a>

                <h3 class="overview-heading">Overview</h3>

                <div class="overview-table">
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Stock Ticker</div>
                        <div class="table-data-right-cell" th:text="${model.tickerCode}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Stock Exchange</div>
                        <div class="table-data-right-cell" th:text="${model.exchange}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Included in Index</div>
                        <div class="table-data-right-cell" th:text="${model.includedInIndex}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Minimal Traded Qty</div>
                        <div class="table-data-right-cell" th:text="${model.minTradedQty}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Ex-Dividend Date</div>
                        <div class="table-data-right-cell" th:text="${model.exDividendDate}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Forward Dividend & Yield</div>
                        <div class="table-data-right-cell" th:text="${model.forwardDividendAndYield}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Ex-Dividend Date</div>
                        <div class="table-data-right-cell" th:text="${model.currency}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Previous Day Closing Price</div>
                        <div class="table-data-right-cell" th:text="${model.previousDayClosingPrice}"></div>
                    </div>
                </div>

            </section>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
