<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="stock">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="details-page-wrapper">

        <div class="details-page-content">
            <section class="details-page-data-section">

                <div class="details-page-text-section">
                    <p class="display-page-heading" th:text="${model.companyName}"></p>
                    <p class="display-page-text" th:text="${model.description}"></p>
                </div>
            </section>
            <section>
                <img class="details-page-logo" th:src="${model.logoURL}" alt="logo">
                <a class="show-graphics-button" th:href="@{/graphics/stock/{id}(id=${model.id})}">Graphics</a>
                <a class="show-graphics-button" th:href="@{/order-this-stock/{id}(id=${model.id})}">Transaction</a>
                <h3 class="overview-heading">Overview</h3>

                <div class="overview-table">
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Stock Ticker</div>
                        <div class="table-data-right-cell" th:text="${model.tickerCode}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Stock Exchange</div>
                        <div class="table-data-right-cell" th:text="${model.exchange}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Included in Index</div>
                        <div class="table-data-right-cell" th:text="${model.includedInIndex}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Minimal Traded Qty</div>
                        <div class="table-data-right-cell" th:text="${model.minTradedQty}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Ex-Dividend Date</div>
                        <div class="table-data-right-cell" th:text="${model.exDividendDate}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Forward Dividend & Yield</div>
                        <div class="table-data-right-cell"><a class="table-link" th:href="@{ ${model.forwardDividendAndYield}}">visit website</a></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Currency</div>
                        <div class="table-data-right-cell"><a class="table-link" th:href="@{ ${model.currency}}">visit website</a></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Previous Day Closing Price</div>
                        <div class="table-data-right-cell"><a class="table-link" th:href="@{ ${model.previousDayClosingPrice}}">visit website</a></div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
