<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="all-wrapper">
        <a class="add-button add-company-button" th:href="@{/create-company}">Add Company</a>

        <div class="all-cards-container">
            <th:block th:each="co : ${cos}">
                <div class="card all-company-card">
                    <img class="card-image" th:src="${co.logoURL}">
                    <div class="card-content">
                        <p class="card-title" th:text="${co.name}"></p>
                        <div class="button-container">
                            <a class="card-button company-button" th:href="@{/company/details/{id}(id=${co.id})}">Details</a>
                            <a class="card-button company-button" th:href="@{/company/edit/{id}(id=${co.id})}">Edit</a>
                            <a class="card-button company-button" th:href="@{/company/delete/{id}(id=${co.id})}">Delete</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
