<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}" />
<body class="background" id="company">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}" />

    <section class="general-form-page">
        <h2 class="general-form-heading">Delete Company</h2>

            <form class="general-form" th:method="post" th:action="@{/company/delete/{id}(id=${model.id})}">

                <div class="general-form-group">
                    <label class="general-form-label" for="CName">Name</label>
                    <input class="general-form-field readonly-field" type="text" name="name" id="CName" th:value="${model.name}" disabled/>
                </div>
                <div class="general-form-group">
                    <label class="general-form-label" for="CDescription">Description</label>
                    <textarea class="general-form-field readonly-field" name="description" id="CDescription" maxlength="1500" rows="6" cols="5" th:text="${model.description}" readonly></textarea>
                </div>
                <div class="general-form-group">
                    <label class="general-form-label" for="CIndustry">Industry</label>
                    <input class="general-form-field readonly-field" type="text" name="industry" id="CIndustry" th:value="${model.industry}" readonly/>
                </div>
                <div class="general-form-group">
                    <label class="general-form-label" for="CFounded">Founded</label>
                    <input class="general-form-field readonly-field" type="text" name="founded" id="CFounded" th:value="${model.founded}" readonly/>
                </div>
                <div class="general-form-group">
                    <label class="general-form-label" for="CHeadquarters">Headquarters</label>
                    <input class="general-form-field readonly-field" type="text" name="headquarters" id="CHeadquarters" th:value="${model.headquarters}" readonly/>
                </div>
                <div class="general-form-group">
                    <label class="general-form-label" for="CRevenues">Revenues</label>
                    <input class="general-form-field readonly-field" type="text" name="revenues" id="CRevenues" th:value="${model.revenues}" readonly/>
                </div>
                <div class="general-form-group">
                    <label class="general-form-label" for="CEmployees">Employees</label>
                    <input class="general-form-field readonly-field" type="text" name="employees" id="CEmployees" th:value="${model.employees}" readonly/>
                </div>
                <div class="general-form-group">
                    <label class="general-form-label" for="CWebsite">Website</label>
                    <input class="general-form-field readonly-field" type="text" name="website" id="CWebsite" th:value="${model.website}" readonly/>
                </div>
                <div class="general-form-group">
                    <label class="general-form-label" for="CLogoURL">Logo URL </label>
                    <input class="general-form-field readonly-field" type="text" name="logoURL" id="CLogoURL" th:value="${model.logoURL}" readonly/>
                </div>
                <div class="general-form-group">
                    <label class="general-form-label" for="CBrands">Brands URL </label>
                    <input class="general-form-field readonly-field" type="text" name="brandsURL" id="CBrands" th:value="${model.brandsURL}" readonly/>
                </div>

            <input class="general-form-button delete-button" type="submit" value="Send">
        </form>
    </section>

</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>
