<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="company">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="details-page-wrapper">
        <img class="details-page-main-picture" th:src="${model.brandsURL}" alt="picture">

        <div class="details-page-content">
            <section class="details-page-data-section">
                <img class="details-page-logo" th:src="${model.logoURL}" alt="logo">

                <h3 class="overview-heading">Overview</h3>

                <div class="overview-table">
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Industry</div>
                        <div class="table-data-right-cell" th:text="${model.industry}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Founded</div>
                        <div class="table-data-right-cell" th:text="${model.founded}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Headquarters</div>
                        <div class="table-data-right-cell" th:text="${model.headquarters}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Revenues</div>
                        <div class="table-data-right-cell" th:text="${model.revenues}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Employees</div>
                        <div class="table-data-right-cell" th:text="${model.employees}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell long">Website</div>
                        <div class="table-data-right-cell"><a class="table-link" th:href="@{ ${model.website}}">visit website</a></div>

                    </div>
                </div>
            </section>
            <div class="details-page-text-section">
                <p class="display-page-heading" th:text="${model.name}"></p>
                <p class="display-page-text" th:text="${model.description}"></p>
            </div>

        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
