<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="stock-exchange">
<main class="main">

    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="all-wrapper">
        <a class="add-button add-stock-exchange-button" th:href="@{/create-stock-exchange}">Add Stock Exchange</a>

        <div class="all-cards-container">
            <th:block th:each="se : ${ses}">
                <div class="card all-stock-exchange-card">
                    <img class="card-image" th:src="${se.logoURL}">
                    <div class="card-content">
                        <p class="card-title" th:text="${se.name}"></p>
                        <div class="button-container">
                            <a class="card-button stock-exchange-button" th:href="@{/stock-exchange/details/{id}(id=${se.id})}">Details</a>
                            <a class="card-button stock-exchange-button" th:href="@{/stock-exchange/edit/{id}(id=${se.id})}">Edit</a>
                            <a class="card-button stock-exchange-button" th:href="@{/stock-exchange/delete/{id}(id=${se.id})}">Delete</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
