<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main class="main">

    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="all-wrapper">
        <h2 class="all-heading">Top Stock Exchanges</h2>

        <div class="all-cards-container">
            <th:block th:each="stockExchange : ${stockExchanges}">
                <div class="card all-stock-exchange-card">
                    <img class="card-image" th:src="${stockExchange.logoURL}" >
                    <div class="card-content">
                        <p class="card-title" th:text="${stockExchange.name}"></p>
                        <div class="button-container">
                            <a class="card-button" th:href="@{/stock-exchange/details/{id}(id=${stockExchange.id})}">Details</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
