<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}" />
<body class="background">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}" />

    <section class="general-form-page">
        <h2 class="general-form-heading">Add a Stock Exchange</h2>

        <form class="general-form" th:method="post" th:action="@{create-stock-exchange}" enctype="multipart/form-data"  th:object="${model}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'text-danger'">
                <label class="general-form-label" for="SEName">Name</label>
                <input class="general-form-field" type="text" th:field="*{name}" name="name" id="SEName" placeholder="e.g. NASDAQ" required/>
                <small th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'text-danger'">
                <label class="general-form-label" for="SEDescription">Description</label>
                <textarea class="general-form-field"  th:text="*{description}" name="description" id="SEDescription" maxlength="1201" rows="6" cols="5" placeholder="Add description here..." required></textarea>
                <small th:each="error : ${#fields.errors('description')}" th:text="${error}"></small>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('region')}? 'text-danger'">
                <label class="general-form-label" for="SERegion">Region</label>
                <input class="general-form-field" type="text" th:field="*{region}" name="region" id="SERegion" placeholder="e.g. United States" required/>
                <small th:each="error : ${#fields.errors('region')}" th:text="${error}"></small>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('marketPlace')}? 'text-danger'">
                <label class="general-form-label" for="SEMarketPlace">Market Place</label>
                <input class="general-form-field" type="text" th:field="*{marketPlace}" name="marketPlace"id="SEMarketPlace" placeholder="e.g. New York" required/>
                <small th:each="error : ${#fields.errors('marketPlace')}" th:text="${error}"></small>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('timeZone')}? 'text-danger'">
                <label class="general-form-label" for="SETimeZone">Time Zone</label>
                <input class="general-form-field" type="text" th:field="*{timeZone}" name="timeZone" id="SETimeZone" placeholder="e.g. CET" required/>
                <small th:each="error : ${#fields.errors('timeZone')}" th:text="${error}"></small>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('currency')}? 'text-danger'">
                <label class="general-form-label" for="SECurrency">Currency</label>
                <input class="general-form-field" type="text" th:field="*{currency}" name="currency" id="SECurrency" placeholder="e.g. USD" required/>
                <small th:each="error : ${#fields.errors('currency')}" th:text="${error}"></small>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('marketCap')}? 'text-danger'">
                <label class="general-form-label" for="SEMarketCap">Market Capitalisation</label>
                <input class="general-form-field" type="text" th:field="*{marketCap}" name="marketCap" id="SEMarketCap" placeholder="e.g. 10 000 000 000 USD" required/>
                <small th:each="error : ${#fields.errors('marketCap')}" th:text="${error}"></small>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('website')}? 'text-danger'">
                <label class="general-form-label" for="SEWebsite">Website</label>
                <input class="general-form-field" type="text" th:field="*{website}" name="website" id="SEWebsite" placeholder="e.g. https://www.nasdaq.com" required/>
                <small th:each="error : ${#fields.errors('website')}" th:text="${error}"></small>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('logo')}? 'text-danger'">
                <label class="general-form-label" for="SELogoURL">Logo URL</label>
                <input class="general-form-field" type="file" name="logo" id="SELogoURL" required/>
                <small th:each="error : ${#fields.errors('logo')}" th:text="${error}"></small>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('picture')}? 'text-danger'">
                <label class="general-form-label" for="SEPictureURL">Picture URL</label>
                <input class="general-form-field" type="file" name="picture" id="SEPictureURL" required/>
                <small th:each="error : ${#fields.errors('picture')}" th:text="${error}"></small>
            </div>

            <input class="general-form-button" type="submit" value="Send">
        </form>

    </section>

</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>