<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main class="main">

    <th:block th:include="~{fragments/navbar-user}"/>

    <section class="general-form-page">
        <h2 class="general-form-heading">Delete Stock Exchange</h2>

        <form class="general-form" th:method="post" th:action="@{/stock-exchange/delete/{id}(id=${model.id})}">
            <div class="general-form-group">
                <label class="general-form-label" for="SEName">Name</label>
                <input class="general-form-field readonly-field" type="text" name="name" id="SEName"
                       th:value="${model.name}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="SEDescription">Description</label>
                <textarea class="general-form-field readonly-field" name="description" id="SEDescription"
                          maxlength="1001" rows="6" cols="5" th:text="${model.description}" readonly></textarea>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="SERegion">Region</label>
                <input class="general-form-field readonly-field" type="text" name="region" id="SERegion"
                       th:value="${model.region}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="SEMarketPlace">Market Place</label>
                <input class="general-form-field readonly-field" type="text" name="marketPlace" id="SEMarketPlace"
                       th:value="${model.marketPlace}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="SETimeZone">Time Zone</label>
                <input class="general-form-field readonly-field" type="text" name="timeZone" id="SETimeZone"
                       th:value="${model.timeZone}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="SECurrency">Currency</label>
                <input class="general-form-field readonly-field" type="text" name="currency" id="SECurrency"
                       th:value="${model.currency}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="SEMarketCap">Market Capitalisation</label>
                <input class="general-form-field readonly-field" type="text" name="marketCap" id="SEMarketCap"
                       th:value="${model.marketCap}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="SELogoURL">Logo URL</label>
                <input class="general-form-field readonly-field" type="text" name="logoURL" id="SELogoURL"
                       th:value="${model.logoURL}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="SEPictureURL">Picture URL</label>
                <input class="general-form-field readonly-field" type="text" name="pictureURL" id="SEPictureURL"
                       th:value="${model.pictureURL}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label" for="SEWebsite">Website</label>
                <input class="general-form-field readonly-field" type="text" name="website" id="SEWebsite"
                       th:value="${model.website}" readonly/>
            </div>

            <input class="general-form-button delete-button" type="submit" value="Delete">
        </form>

    </section>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
