<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="stock-exchange">
<main class="main">

    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="grid-container">
        <div class="grid-item" id="SEitem1"></div>
        <div class="grid-item" id="SEitem2"><img class="img2" th:src="${model.logoURL}" alt="logo"></div>
        <div class="grid-item" id="SEitem3"><span class=" text-center text-white" style="font-size:23px;" th:text="${model.name}"></span>
        </div>
        <div class="grid-item" id="SEitem4"></div>
        <div class="grid-item" id="SEitem5"><img class="img1" th:src="${model.pictureURL}" alt="picture"></div>
        <div class="grid-item" id="SEitem6"><p class=" text-justify text-white" style="font-size:17px;" th:text="${model.description}"></p></div>
        <div class="grid-item" id="SEitem7">
            <table class="stock-table">
                <tr>
                    <td class="td text-white" colspan="2">Overview</td>
                </tr>
                <tr>
                    <td class="td text-white">Region</td>
                    <td class="td text-white" th:text="${model.region}"></td>
                </tr>
                <tr>
                    <td class="td text-white">Market Place</td>
                    <td class="td text-white" th:text="${model.marketPlace}"></td>
                </tr>
                <tr>
                    <td class="td text-white">Currency</td>
                    <td class="td text-white" th:text="${model.currency}"></td>
                </tr>
                <tr>
                    <td class="td text-white">Market cap</td>
                    <td class="td text-white" th:text="${model.marketCap}"></td>
                </tr>
                <tr>
                    <td class="td text-white">Time zone</td>
                    <td class="td text-white" th:text="${model.timeZone}"></td>
                </tr>
                <tr>
                    <td class="td text-white">Website</td>
                    <td class="td text-white" th:text="${model.website}"></td>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
