<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="profile">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>



    <!--    <p class=" text-center text-white" style="font-size:35px" th:text="${model.username} + '`s Profile'"></p>-->
    <!--    <br><br>-->

    <!--    <div th:if="${notifications.size()} > 0" th:text="'You have ' + ${notifications.size()} + ' new notification(s).'" class="alert alert-info"></div>-->
    <!--    <br>-->

    <!--    <div class="containerMP">-->

    <!--        <div class="cardMP">-->
    <!--            <div class="face face1">-->
    <!--                <div class="contentMP">-->
    <!--                    <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1593455540/Java%20Project/images_hyydso.png">-->
    <!--                    <h3>Contract</h3>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="face face2">-->
    <!--                <div class="contentMP">-->
    <!--                    <p>Become our customer by signing a contract</p>-->
    <!--                    <a th:href="@{/contract}">Open</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="cardMP">-->
    <!--            <div class="face face1">-->
    <!--                <div class="contentMP">-->
    <!--                    <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1592741523/Java%20Project/cart_f7rox9.png">-->
    <!--                    <h3 style="font-size:20px">Transaction</h3>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="face face2">-->
    <!--                <div class="contentMP">-->
    <!--                    <p>Order the stocks you want to buy</p>-->
    <!--                    <a th:href="@{/order-any-stock}">Open</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="cardMP">-->
    <!--            <div class="face face1">-->
    <!--                <div class="contentMP">-->
    <!--                    <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1592741477/Java%20Project/wallet_qsskhj.jpg">-->
    <!--                    <h3 style="font-size:20px">Portfolio</h3>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="face face2">-->
    <!--                <div class="contentMP">-->
    <!--                    <p>Check the stocks in your current portfolio</p>-->
    <!--                    <a th:href="@{/my-portfolio}">Open</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="cardMP">-->
    <!--            <div class="face face1">-->
    <!--                <div class="contentMP">-->
    <!--                    <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1593333363/Java%20Project/pngtree-vector-bell-icon-png-image_927119_j18wrs.jpg">-->
    <!--                    <h3 style="font-size:19px">Notifications</h3>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="face face2">-->
    <!--                <div class="contentMP">-->
    <!--                    <p>Check your notifications here</p>-->
    <!--                    <a th:href="@{/notifications}">Open</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="cardMP">-->
    <!--            <div class="face face1">-->
    <!--                <div class="contentMP">-->
    <!--                    <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1593599530/Java%20Project/208-2081744_currency-exchange-icon-currency-exchange-clipart_ttwjw5.jpg">-->
    <!--                    <h3>Converter</h3>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="face face2">-->
    <!--                <div class="contentMP">-->
    <!--                    <p>Check your stocks here</p>-->
    <!--                    <a th:href="@{/converter}">Open</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="cardMP">-->
    <!--            <div class="face face1">-->
    <!--                <div class="contentMP">-->
    <!--                    <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1592741559/Java%20Project/history_wmjsvw.jpg">-->
    <!--                    <h3>History</h3>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="face face2">-->
    <!--                <div class="contentMP">-->
    <!--                    <p>Check your order history</p>-->
    <!--                    <a th:href="@{/my-orders}">Open</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <br>-->

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
