<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="profile">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="profile-container">

        <div class="profile-header">
            <img class="profile-image" src="https://upload.wikimedia.org/wikipedia/commons/e/e3/User_Avatar_Person_Info_Information-512.png">
            <h1 class="profile-heading" th:text="${model.username} + '`s Profile'"></h1>
        </div>
        <div class="notification-bar">
            <span class="notification" th:if="${notifications.size()} > 0" th:text="${notifications.size()}"></span>
        </div>
        <div class="profile-links-container">

            <div class="profile-link">
                <a class="profile-link-content" th:href="@{/contract}"><i class="fas fa-file-signature profile-link-icon"></i><br>Contact</a>
            </div>
            <div class="profile-link">
                <a class="profile-link-content" th:href="@{/order-any-stock}"><i class="fas fa-shopping-cart profile-link-icon"></i><br>Transaction</a>
            </div>
            <div class="profile-link">
                <a class="profile-link-content" th:href="@{/my-portfolio}"><i class="fas fa-wallet profile-link-icon"></i><br>Portfolio</a>
            </div>
            <div class="profile-link">
                <a class="profile-link-content" th:href="@{/notifications}"><i class="fas fa-bell profile-link-icon"></i><br>Notifications</a>
            </div>
            <div class="profile-link">
                <a class="profile-link-content" th:href="@{/converter}"><i class="fas fa-coins profile-link-icon"></i><br>Converter</a>
            </div>
            <div class="profile-link">
                <a class="profile-link-content" th:href="@{/my-orders}"><i class="fas fa-history profile-link-icon"></i><br>History</a>
            </div>
            </a>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
