<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}" />
<body class="background" id="profile">
<main class="main">

    <th:block th:include="~{fragments/navbar-user}"/>

    <p class=" text-center text-white" style="font-size:25px;"><span>My Notifications</span></p>
    <br><br>

    <div class='wrapper2'>
        <th:block th:each="notification, iter : ${notifications}" th:object="${notification}">

            <div class='speechbubble'>
                <span><u th:text="${notification.type}"></u></span><br><br><br>
                <p th:if="${notification.question} != null" th:text="${notification.question}"></p>
                <span class='username' th:if="${notification.date} != null" th:text="'Asked on ' + ${notification.date}"></span><br><br>
                <p th:if="${notification.answer} != null" th:text="${notification.answer}"></p><br>
            </div>
        </th:block>
    </div>

</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>
