<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main class="main">

    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="notification-container">
        <h1 class="notification-heading">My Notifications</h1>
        <div class="notifications-bubbles-container">
            <th:block th:each="notification, iter : ${notifications}" th:object="${notification}">
                <div class='notification-bubble'>
                    <span class="notification-type" th:text="${notification.type}"></span>

                    <p  class="notification-question" th:if="${notification.question} != null" th:text="${notification.question}"></p>

                    <span class="notification-question-time" th:if="${notification.date} != null"
                          th:text="'Asked on ' + ${notification.date}"></span>

                    <p class="notification-answer" th:if="${notification.answer} != null" th:text="${notification.answer}"></p>
                </div>
            </th:block>

        </div>
    </div>


</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
