<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main>
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="all-analyses-container">
        <div class="all-analyses-header">
            <h1 class="all-analyses-heading">All Users</h1>
        </div>

        <table class="summary-table">
            <thead>
            <tr>
                <th>#</th>
                <th>USERNAME</th>
                <th>EMAIL</th>
                <th>ROLES</th>
                <th>ACTIONS</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="user, iter : ${users}">
                <tr>
                    <th th:text="${iter.index + 1}"></th>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${#strings.replace(#strings.listJoin(user.authorities, ', '), 'ROLE_', '')}"></td>
                    <td>
                        <div class="button-column">
                            <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            !#lists.contains(user.authorities, 'ROLE_MODERATOR') && !#lists.contains(user.authorities, 'ROLE_ADMIN')
                        }">
                                <form th:action="@{/users/set-moderator/{id}(id=${user.id})}" method="post">
                                    <button class="summary-table-button">change to<br/> MODERATOR</button>
                                </form>
                                <form th:action="@{/users/set-admin/{id}(id=${user.id})}" method="post">
                                    <button class="summary-table-button">change to<br/> ADMIN</button>
                                </form>
                            </th:block>
                            <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            #lists.contains(user.authorities, 'ROLE_MODERATOR') && !#lists.contains(user.authorities, 'ROLE_ADMIN')
                        }">
                                <form th:action="@{/users/set-user/{id}(id=${user.id})}" method="post">
                                    <button class="summary-table-button">change to<br/> USER</button>
                                </form>
                                <form th:action="@{/users/set-admin/{id}(id=${user.id})}" method="post">
                                    <button class="summary-table-button">change to<br/> ADMIN</button>
                                </form>
                            </th:block>
                            <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            #lists.contains(user.authorities, 'ROLE_MODERATOR') && #lists.contains(user.authorities, 'ROLE_ADMIN') && !#lists.contains(user.authorities, 'ROLE_ROOT')
                        }">
                                <form th:action="@{/users/set-user/{id}(id=${user.id})}" method="post">
                                    <button class="summary-table-button">change to<br/> USER</button>
                                </form>
                                <form th:action="@{/users/set-moderator/{id}(id=${user.id})}" method="post">
                                    <button class="summary-table-button">change to<br/> MODERATOR</button>
                                </form>
                            </th:block>
                        </div>
                    </td>
                </tr>
            </th:block>

            </tbody>
        </table>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
