<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}" />
<body class="background" id="data">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}" />

    <div class="all-analyses-container">
        <div class="all-analyses-header">
            <h1 class="all-analyses-heading">All Users</h1>
        </div>

        <table class="summary-table">
            <thead>
            <tr>
                <th>#</th>
                <th>USERNAME</th>
                <th>EMAIL</th>
                <th>ROLES</th>
                <th>ACTIONS</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="user, iter : ${users}">
                <tr class="bla row mx-auto">
                    <th class="col-md-2 text-center text-white" th:text="${iter.index + 1}"></th>
                    <td class="col-md-3 text-center text-white" th:text="${user.username}"></td>
                    <td class="col-md-2 text-center text-white" th:text="${user.email}"></td>
                    <td class="col-md-2 text-center text-white" th:text="${#strings.replace(#strings.listJoin(user.authorities, ', '), 'ROLE_', '')}"></td>
                    <td class="col-md-3 text-center text-white">

                        <div class="row d-flex justify-content-center">
                            <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            !#lists.contains(user.authorities, 'ROLE_MODERATOR') && !#lists.contains(user.authorities, 'ROLE_ADMIN')
                        }">
                                <form th:action="@{/users/set-moderator/{id}(id=${user.id})}" method="post">
                                    <button id="bttn1" class="btn btn-info btn-width" >change to<br/> MODERATOR</button>
                                </form>
                                <form th:action="@{/users/set-admin/{id}(id=${user.id})}" method="post">
                                    <button id="bttn2" class="btn btn-info btn-width">change to<br/> ADMIN</button>
                                </form>
                            </th:block>
                            <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            #lists.contains(user.authorities, 'ROLE_MODERATOR') && !#lists.contains(user.authorities, 'ROLE_ADMIN')
                        }">
                                <form th:action="@{/users/set-user/{id}(id=${user.id})}" method="post">
                                    <button class="btn btn-info btn-width">change to<br/> USER</button>
                                </form>
                                <form th:action="@{/users/set-admin/{id}(id=${user.id})}" method="post">
                                    <button class="btn btn-info btn-width">change to<br/> ADMIN</button>
                                </form>
                            </th:block>
                            <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            #lists.contains(user.authorities, 'ROLE_MODERATOR') && #lists.contains(user.authorities, 'ROLE_ADMIN') && !#lists.contains(user.authorities, 'ROLE_ROOT')
                        }">
                                <form th:action="@{/users/set-user/{id}(id=${user.id})}" method="post">
                                    <button class="summary-table-button">change to<br/> USER</button>
                                </form>
                                <form th:action="@{/users/set-moderator/{id}(id=${user.id})}" method="post">
                                    <button class="summary-table-button">change to<br/> MODERATOR</button>
                                </form>
                            </th:block>
                        </div>
                    </td>
                </tr>
            </th:block>

<!--            <th:block th:each="analysis, iter : ${analyses}" th:object="${analysis}">-->
<!--                <tr>-->
<!--                    <td th:text="${iter.index + 1}"></td>-->
<!--                    <td th:text="${analysis.company}"></td>-->
<!--                    <td th:text="${analysis.ticker}"></td>-->
<!--                    <td>-->
<!--                        <div>-->
<!--                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                                <a th:href="@{/analysis/edit/{id}(id=${analysis.id})}" class="summary-table-button">Edit</a>-->
<!--                            </th:block>-->
<!--                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                                <a th:href="@{/analysis/delete/{id}(id=*{id})}" class="summary-table-button">Delete</a>-->
<!--                            </th:block>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </th:block>-->
            </tbody>
        </table>
    </div>

</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>
