<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="data-panel-container">
        <h1 class="data-panel-heading"></h1>

        <div class="data-panel-buttons-container">
            <a class="data-panel-button" th:href="@{/admin-all-stock-exchange}">Stock Exchange</a>
            <a class="data-panel-button" th:href="@{/admin-all-company}">Company</a>
            <a class="data-panel-button" th:href="@{/create-faq}">Add Q & A</a>
            <a class="data-panel-button" th:href="@{/all-orders}">All Orders</a>
            <a class="data-panel-button" th:href="@{/users/all}">All Users</a>
            <a class="data-panel-button" th:href="@{/admin-all-index}">Market Index</a>
            <a class="data-panel-button" th:href="@{/admin-all-stock}">Stock</a>
            <a class="data-panel-button" th:href="@{/all-questions}">All Questions</a>
            <a class="data-panel-button" th:href="@{/all-contracts}">All contracts</a>
            <a class="data-panel-button" th:href="@{/all-analysis}">All Analysis</a>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>



