<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main>
    <th:block th:include="~{fragments/navbar-guest}"/>

    <section class="login-page">
        <h2 class="login-form-heading">Login Page</h2>

        <form class="login-form" th:method="post" th:action="@{/login}">
            <input class="login-form-field" type="text" name="username" placeholder="Username" required=""> <br>
            <input class="login-form-field" type="password" name="password" placeholder="Password" required=""><br>
            <input class="login-form-button" type="submit" value="Send">
        </form>

        <th:block th:if="${param.error}">
            <div class="text-center text-danger" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
            </div>
        </th:block>
    </section>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>

