<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="user-navigation">
        <div class="greeting-container">
            <span class="greeting" th:text="${greeting}"></span>
        </div>

        <div class="buttons-container">
            <th:block sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_MODERATOR')">
                <a class="user-button" th:href="@{/data-panel}">Data</a>
            </th:block>

            <a class="user-button" th:href="@{/home}">Home</a>

            <a class="user-button" th:href="@{/my-profile}">Profile</a>

            <form th:action="@{/logout}" th:method="post">
                <button class="user-button logout-button">Logout</button>
            </form>

        </div>
    </nav>
</th:block>