<th:block th:fragment>
    <nav class="navbar navbar-expand-lg navbar-background: rgba(0, 0, 0, 0.1)">
        <div class="collapse navbar-collapse d-flex justify-content-end">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-5">
                    <a class="guestButtons nav-link text-white active font-weight-bold mr-2" id="guestButton1" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item col-md-5">
                    <a class="guestButtons nav-link text-white active font-weight-bold ml-2" id="guestButton2" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <hr size="5px" color="red" noshade style="margin-top: 5px; margin-bottom: 5px"/>
            </div>
        </div>
    </div>
</th:block>