<th:block th:fragment>
    <nav class="navbar navbar-expand-lg navbar-background: rgba(0, 0, 0, 0.1)">
        <div class="collapse navbar-collapse d-flex">
            <div class="text-left" id="greeting">
                <span style="font-family: fantasy;" th:text="${greeting}"></span>
            </div>
        </div>
        <div class="collapse navbar-collapse d-flex justify-content-end">
            <a class="userButtons nav-link text-white active font-weight-bold mr-0" id="userButton2" th:href="@{/home}">Go Home</a>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn userButtons nav-link text-white active font-weight-bold mr-0" id="userButton4">Logout</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <hr size="5px" color="red" noshade />
            </div>
        </div>
    </div>
</th:block>