<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="all-analyses-container">
        <div class="all-analyses-header">
            <h1 class="all-analyses-heading">All Analyses</h1>
            <a class="summary-table-add-button" th:href="@{/create-analysis}">New Analysis</a>
        </div>

        <table class="summary-table">
            <thead>
            <tr>
                <th>#</th>
                <th>COMPANY</th>
                <th>TICKER</th>
                <th>ACTIONS</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="analysis, iter : ${analyses}" th:object="${analysis}">
                <tr>
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${analysis.company}"></td>
                    <td th:text="${analysis.ticker}"></td>
                    <td>
                        <div>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/analysis/edit/{id}(id=${analysis.id})}" class="summary-table-button edit">Edit</a>
                            </th:block>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/analysis/delete/{id}(id=*{id})}" class="summary-table-button delete">Delete</a>
                            </th:block>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
