<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="analysis">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <p class="text-center text-white" style="font-size:25px;"><span>Add Analysis</span></p>
    <br><br>

    <form id="analysisForm" th:method="post" th:action="@{create-analysis}" th:object="${model}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="row">

                 <div class="form-group col-md-12 text-white" th:classappend="${#fields.hasErrors('company')}? 'text-danger'">
                    <label for="AName">Company</label>
                    <input type="text" th:field="*{company}" name="company" id="AName" placeholder="e.g. The Walt Disney Company" required/>
                    <small th:each="error : ${#fields.errors('company')}" th:text="${error}"></small>
            </div>

            <div class="form-group col-md-12 text-white" th:classappend="${#fields.hasErrors('ticker')}? 'text-danger'">
                <label for="ATicker">Ticker</label>
                <input type="text" name="ticker" id="ATicker" placeholder="e.g. YWJ" th:field="*{ticker}" required/>
                <small th:each="error : ${#fields.errors('ticker')}" th:text="${error}"></small>
            </div>

            <div class="form-group col-md-12 text-white" th:classappend="${#fields.hasErrors('profile')}? 'text-danger'">
                <label for="AProfile">Company Profile</label>
                <textarea class="text-white" name="profile" id="AProfile" maxlength="1001" rows="6" cols="5"
                          placeholder="Add company profile here..." required th:text="*{profile}"></textarea>
                <small th:each="error : ${#fields.errors('profile')}" th:text="${error}"></small>
            </div>

            <div class="form-group col-md-12 text-white" th:classappend="${#fields.hasErrors('strengths')}? 'text-danger'">
                <label for="AStrengths">Strengths</label>
                <textarea class="text-white" name="strengths" id="AStrengths" maxlength="1001" rows="6" cols="5"
                          placeholder="Add company strengths here..." required th:text="*{strengths}"></textarea>
                <small th:each="error : ${#fields.errors('strengths')}" th:text="${error}"></small>
            </div>

            <div class="form-group col-md-12 text-white" th:classappend="${#fields.hasErrors('weaknesses')}? 'text-danger'">
                <label for="AWeaknesses">Weaknesses</label>
                <textarea class="text-white" name="weaknesses" id="AWeaknesses" maxlength="1001" rows="6" cols="5"
                          placeholder="Add company weaknesses here..." required th:text="*{weaknesses}"></textarea>
                <small th:each="error : ${#fields.errors('weaknesses')}" th:text="${error}"></small>
            </div>

            <div class="form-group col-md-12 text-white" th:classappend="${#fields.hasErrors('opportunities')}? 'text-danger'">
                <label for="AOpportunities">Opportunities</label>
                <textarea class="text-white" name="opportunities" id="AOpportunities" maxlength="1001" rows="6" cols="5"
                          placeholder="Add opportunities here..." required th:text="*{opportunities}"></textarea>
                <small th:each="error : ${#fields.errors('opportunities')}" th:text="${error}"></small>
            </div>

            <div class="form-group col-md-12 text-white" th:classappend="${#fields.hasErrors('threats')}? 'text-danger'">
                <label for="AThreats">Threats</label>
                <textarea class="text-white" name="threats" id="AThreats" maxlength="1001" rows="6" cols="5"
                          placeholder="Add threads here..." required th:text="*{threats}"></textarea>
                <small th:each="error : ${#fields.errors('threats')}" th:text="${error}"></small>
            </div>

        </div>

        <input id="AButton" type="submit" value="Add">
    </form>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
