<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}" />
<body class="background">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}" />

    <section class="general-form-page">
        <h2 class="general-form-heading">Delete Analysis</h2>

        <form class="general-form" th:action="@{/analysis/delete/{id}(id=${model.id})}">

            <div class="form-group">
                <label class="general-form-label"  for="AName">Company</label>
                <input class="general-form-field readonly-field" type="text" name="company" id="AName" th:value="${model.company}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label"  for="ATicker">Ticker</label>
                <input class="general-form-field readonly-field" type="text" name="ticker" id="ATicker"  th:value="${model.ticker}" readonly/>
            </div>
            <div class="form-group">
                <label class="general-form-label"  for="AProfile">Company Profile</label>
                <textarea class="general-form-field readonly-field" name="profile" id="AProfile" maxlength="1500" rows="6" cols="5" th:text="${model.profile}" readonly></textarea>
            </div>
            <div class="form-group">
                <label class="general-form-label"  for="AStrengths">Strengths</label>
                <textarea class="general-form-field readonly-field" name="strengths" id="AStrengths" maxlength="1500" rows="6" cols="5" th:text="${model.strengths}" readonly></textarea>
            </div>
            <div class="form-group">
                <label class="general-form-label"  for="AWeaknesses">Weaknesses</label>
                <textarea class="general-form-field readonly-field" name="weaknesses" id="AWeaknesses" maxlength="1500" rows="6" cols="5" th:text="${model.weaknesses}" readonly></textarea>
            </div>
            <div class="form-group">
                <label class="general-form-label"  for="AOpportunities">Opportunities</label>
                <textarea class="general-form-field readonly-field" name="opportunities" id="AOpportunities" maxlength="1500" rows="6" cols="5" th:text="${model.opportunities}" readonly></textarea>
            </div>
            <div class="form-group">
                <label class="general-form-label"  for="AThreats">Threads</label>
                <textarea class="general-form-field readonly-field" name="threats" id="AThreats" maxlength="1500" rows="6" cols="5" th:text="${model.threats}" readonly></textarea>
            </div>

            <input class="general-form-button" type="submit" value="Send">
        </form>
    </section>

</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>
