<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<th:block th:include="~{fragments/head}" />
<body class="background" id="general">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}" />

    <p class=" text-center text-white" style="font-size:25px;"><span>About Us</span></p>
    <br>

    <div class="wrapper" id="wrapper">
        <div class="cols">
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="containerA">
                    <div class="front" style="background-image: url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1593721708/Java%20Project/fdb2a3699047c38cadadc9627dd492bc_q0tcej.jpg)">
                        <div class="inner">
                            <p>BANKSTERS</p>
                            <span>INTRODUCTION</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p class="text-justify" style = "font-size:16px">BANK$TER$ is a licensed investment broker
                                working with individual investors who want to trade with stocks of any public Bulgarian and international
                                companies and who have long-term orientation using strategy "Buy & Hold". This strategy
                                gives opportunity for receiving regular dividend income if the company-issuer of the stocks pays
                                dividends regularly. The investors can score additional profit from the increase of the stock prices
                                in case they decide to sell them.</p>
                        </div>
                    </div>
                </div>
            </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="containerA">
            <div class="front" style="background-image: url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1593721708/fdb2a3699047c38cadadc9627dd492bc_q0tcej.jpg)">
                <div class="inner">
                    <p>BANKSTERS</p>
                    <span>TRANSACTIONS</span>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <p class="text-justify" style = "font-size:16px">BANK$TER$ provides assistance for buying of any public Bulgarian and international
                        companies. You can pick some of the top stocks presented on our site or
                        you can order any other stocks by giving us the company name, stock ticker and number of stocks you want to buy.
                        We as well assist our clients with the the stocks they want to sell.
                        In addition we offer a competitive exchange rate for exchanging currency when international stocks are bought.</p>
                </div>
            </div>
        </div>
    </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="containerA">
                    <div class="front" style="background-image: url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1593721708/fdb2a3699047c38cadadc9627dd492bc_q0tcej.jpg)">
                        <div class="inner">
                            <p>BANKSTERS</p>
                            <span>CONSULTANCY</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p class="text-justify" style = "font-size:16px">BANK$TER$ is a professional consultant who offers financial researches and advices for your overall investment strategy.
                                We will discuss with you the most profitable stocks available for buying or the pros and cons of selling a certain stock.
                                We also provide consultation about the taxation of the dividend income of our clients.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="containerA">
                    <div class="front" style="background-image: url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1593721708/fdb2a3699047c38cadadc9627dd492bc_q0tcej.jpg)">
                        <div class="inner">
                            <p>BANKSTERS</p>
                            <span>ACCOUNT</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p class="text-justify" style = "font-size:16px"> We offer brokerage account with: no monthly fee;
                                no inactivity fee; no requirement for minimal balance; no requirement for minimal initial payment;
                                There are no hidden fees  - you pay only a Trade commission in the amount of $0.01 per traded share</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <br>

    <div class="text-center">
        <a class="btn btn-danger text-center mr-3" th:href="@{/dreamland}">Shortcut to Dreamland</a>
    </div>
    <br>

</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>
