<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}" />
<body class="background">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}" />

    <div class="contact-us-container">

        <table class="contacts-table">
            <tr>
                <td>Address:</td>
                <td>1, Vitosha blvd., Sofia</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>banksters@banksters.bg<</td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>02/ 0000 000</td>
            </tr>
            <tr>
                <td>Mobile:</td>
                <td>0888 000 000</td>
            </tr>
            <tr>
                <td>Facebook:</td>
                <td>Banksters</td>
            </tr>
        </table>
    </div>

</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>
