<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="dictionary-wrapper">
        <div class="dictionary-heading-container">
            <h1 class="dictionary-heading">Financial Dictionary</h1>
        </div>

        <div class="dictionary-entries-container">
            <div class="dictionary-letter">A</div>
            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Ask & Bid price</h2>
                <p class="dictionary-entry-paragraph">The ask price is like the reserve price at an auction: it's
                    basically a price that someone has agreed to sell a security for. It differs from the bid price,
                    which is basically the price a buyer is happy to pay for a security. Thus, if you are buying an
                    asset or security, you are paying the ask price.</p>
            </article>

            <div class="dictionary-letter">B</div>
            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Bear market</h2>
                <p class="dictionary-entry-paragraph">A bear market is a lengthy period when the price of shares
                    overall keeps falling. The ‘bear’ terminology to describe markets derives from the different
                    ways the animal attack their opponents. A bear strikes with its claws in a downward motion.
                    Using these actions as metaphors for market movement, we talk about a bear market if the trend is
                    down.</p>
            </article>

            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Brokerage account</h2>
                <p class="dictionary-entry-paragraph">A brokerage account is an arrangement where an investor
                    deposits money with a licensed brokerage firm, who places trades on behalf of the customer.
                    Although the brokerage executes the orders, the assets belong to the investors, who
                    typically must claim as taxable income any capital gains incurred from the account.</p>
            </article>

            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Bull market</h2>
                <p class="dictionary-entry-paragraph">When prices start rising and then continue to rise it’s
                    known as a bull market. It’s when traders have confidence that prices are good, so they are
                    optimistic about the future. The ‘bull’ terminology to describe markets derives from the
                    different ways the animal attack their opponents - a bull attacks by lifting its horns
                    upward.</p>
            </article>

            <div class="dictionary-letter">D</div>
            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Dividends</h2>
                <p class="dictionary-entry-paragraph">The distribution of a section of a company’s earnings to
                    its shareholders. Company dividends are a portion of earnings and can be issued in the form
                    of shares of stock, cash payment or property. When a company earns a profit it's able to put
                    those earnings back into the company (retained profit) and pay the rest to its
                    shareholders.</p>
            </article>

            <div class="dictionary-letter">E</div>
            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Ex-dividend date</h2>
                <p class="dictionary-entry-paragraph">The ex-dividend date is normally two business days before
                    the record date. If you purchase a stock on or after its ex-dividend date, you will not
                    receive the next dividend payment. Instead, the seller gets the dividend. If you purchase
                    before the ex-dividend date, you will get the dividend.</p>
            </article>

            <div class="dictionary-letter">I</div>
            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Investors</h2>
                <p class="dictionary-entry-paragraph">An investor is someone who wants a greater return on their
                    money than bank deposits can deliver, so they are prepared to run greater risks in the hope
                    of greater eventual rewards. Investors can be enthusiastic amateurs playing the market, or
                    experienced solo operators or well-capitalised investment firms with billions of dollars of
                    assets.</p>
            </article>

            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">IPO</h2>
                <p class="dictionary-entry-paragraph">Initial public offering is offering shares of a private
                    organisation to the public on a stock exchange for the first time. In an IPO, the company
                    raising capital(issuer), turns to investment banks or underwriting firms to get help in
                    determining the type of security to issue, the number and price of shares and the time frame
                    for the market offering.</p>
            </article>

            <div class="dictionary-letter">L</div>

            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Leverage</h2>
                <p class="dictionary-entry-paragraph">Traders use leverage to get bigger returns from small
                    investments. They only provide part of the capital needed to open a position, but this cash
                    deposit is then magnified – or 'leveraged' – so the profit or loss is based on the total
                    value of the position.</p>
            </article>

            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Listed Company</h2>
                <p class="dictionary-entry-paragraph">This is a company whose ownership is organized via shares
                    of stock which are intended to be freely traded on a stock exchange or in over-the-counter
                    markets.</p>
            </article>

            <div class="dictionary-letter">M</div>
            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Margin</h2>
                <p class="dictionary-entry-paragraph">In the investing world, buying on margin means borrowing
                    from a broker to purchase stock. You pay only a certain percentage (or margin) of the cost,
                    the remainder of the money is borrowed from the broker.</p>
            </article>

            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Market Cap</h2>
                <p class="dictionary-entry-paragraph">Market capitalisation is a simple shorthand formula that
                    enables investors to work out the current market value of a company. It’s calculated by
                    multiplying the number of shares by their current price. Depending on their size, companies
                    are generally classed as large-cap (typically $10billion+), mid-cap or small-cap (typically
                    $2billion).</p>
            </article>

            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Market maker</h2>
                <p class="dictionary-entry-paragraph">A market maker is an individual or organisation that takes
                    on the risk of holding a particular security in order to allow investors to trade that
                    security. They quote both a buy and a sell price of this product in the hope of getting
                    investors to trade it.</p>
            </article>

            <div class="dictionary-letter">S</div>
            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Spread</h2>
                <p class="dictionary-entry-paragraph">The bid-ask spread, also known as the bid-offer spread or
                    buy-sell spread, refers to the difference between the prices that were quoted, either in an
                    order book or by a market maker, for the immediate sale (bid) and the immediate purchase
                    (ask) of an asset. The assets in question could be stocks, options, futures contracts or
                    currencies.</p>
            </article>

            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Stocks</h2>
                <p class="dictionary-entry-paragraph">This is a unit of ownership of a company or financial
                    asset. In order for a company to raise capital, it may decide to sell shares to investors,
                    who then become equity shareholders in the business. Shareholders then have the opportunity
                    to earn dividends in return, with profit distributions depending on the company’s share
                    price and overall performance</p>
            </article>

            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Stock Broker</h2>
                <p class="dictionary-entry-paragraph">Regulated professional who buys and sells financial
                    instruments on the behalf of a client and charges a fee for doing so. Clients can be
                    individual investors or companies. The financial instruments that are bought or sold can
                    come in many forms including shares, derivatives, bonds, stocks and so on.</p>
            </article>

            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Stock Exchange</h2>
                <p class="dictionary-entry-paragraph">A marketplace where buyers and sellers come together to
                    trade in stocks and shares, commodities, derivatives, currencies and other financial
                    instruments. Today`s exchanges are highly regulated to ensure that markets are organized and
                    run in fair and orderly way.</p>
            </article>

            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Stock Index</h2>
                <p class="dictionary-entry-paragraph">This is a measurement of the value of some or all the
                    shares in a stock market. Such an index is usually weighted, in order to reflect the
                    relative size and importance of different stocks. Such market indices have traditionally
                    been used to compare an investor’s performance against the market as a whole.</p>
            </article>

            <div class="dictionary-letter">W</div>
            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Wall Street</h2>
                <p class="dictionary-entry-paragraph">Wall Street is an eight-block-long street running roughly
                    northwest to southeast from Broadway to South Street, at the East River, in the Financial
                    District of Lower Manhattan in New York City. Over time, the term has become a metonym for
                    the financial markets of the United States as a whole and the American financial services
                    industry</p>
            </article>

            <div class="dictionary-letter">Y</div>
            <article class="dictionary-entry">
                <h2 class="dictionary-entry-heading">Yield</h2>
                <p class="dictionary-entry-paragraph">A yield is the return on an investment, either in terms of
                    dividends for shares or interest payments. It is expressed as a percentage of the cost of
                    the financial instrument in question, but unlike return it does not include any capital gain
                    arising from a rise in the market value of the asset.</p>
            </article>

        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
