<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main>
    <th:block th:include="~{fragments/navbar-user}"/>
    <div class="dreamland-wrapper">
        <div class="dreamland-heading-wrapper">
            <span class="dreamland-heading">We make your dreams come true...</span>
        </div>
        <div class="dreamland-container">
            <div class="dreamland-card">
                <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1592740923/Java%20Project/bugatti_yknxep.webp">
                <div class="dreamland-card-caption">...if you want a new car</div>
            </div>
            <div class="dreamland-card">
                <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1592740977/Java%20Project/hobbit_house_yisrw5.jpg">
                <div class="dreamland-card-caption">...if you want a new house</div>
            </div>
            <div class="dreamland-card">
                <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1592741024/Java%20Project/private_jet_xhivag.webp">
                <div class="dreamland-card-caption">...if you want a private jet</div>
            </div>
            <div class="dreamland-card">
                <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1592741065/Java%20Project/yacht_afpxmb.jpg">
                <div class="dreamland-card-caption">...if you want a yacht</div>
            </div>
            <div class="dreamland-card">
                <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1592741115/Java%20Project/shopping_pgute2.jpg">
                <div class="dreamland-card-caption">...if you want to buy anything you dream of</div>
            </div>
            <div class="dreamland-card">
                <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1592741165/Java%20Project/space_mzv37h.jpg">
                <div class="dreamland-card-caption">...if you want to travel wherever you want</div>
            </div>
            <div class="dreamland-card">
                <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1592741206/Java%20Project/quit_gd93jl.jpg">
                <div class="dreamland-card-caption">...if you want to quit you job</div>
            </div>
            <div class="dreamland-card">
                <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1592741257/Java%20Project/200_iwuyjx.gif">
                <div class="dreamland-card-caption">...or you just want to be rich</div>
            </div>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
