<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}" />
<body class="background" id="general">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <p class=" text-center text-white" style="font-size:35px;"><span>Walkthrough</span></p>
    <p class=" text-center text-white" style="font-size:20px;"><span>for buying stocks</span></p>
    <br><br>

    <div class="walk">
        <p class="para"><span style="font-size:25px;" >Clarify your investment goals</span><br><br>
            You can earn investment returns in two ways: growing the value of your portfolio, or earning income through dividends.
            Growth stocks are the ones that you want to buy low and sell high, although you can't guarantee that result.
            Income stocks generally have more predictable returns, but you won't get any big jumps in the stock's value.
            We specialize in </p>

        <p class="para"><span style="font-size:25px;">Set your budget and timeline</span><br><br>
            Decide how much cash you can invest in your portfolio and how often you'll put in more.
            Also, think about when you might need to convert your stock holdings into cash.
            The more time you have, the more aggressive you can be with your stock picks.</p>

        <p class="para"><span style="font-size:25px;">Plan for diversification</span><br><br>
            If you own only one stock, it takes just one scandal to send the value of your portfolio plummeting.
            Diversifying your investments among different companies and industries will spread out your exposure,
            so that no single stock can wipe out your savings.</p>

        <p class="para"><span style="font-size:25px;">Make your picks, do your research</span><br><br>
            Buying stocks strategically can take an incredible amount of research.
            If you aren't sure where to begin, start with companies and industries you already know.
            Make it a habit to read investors' newsletters and the daily financial news.
            At this step we strongly advice you ro register on our site where you can find lots of financial data and analysis.</p>

        <p class="para"><span style="font-size:25px;">Make a contract request</span><br><br>
            Once you feel ready to buy some first you must send us your <a th:href="@{/contract}">contract request</a>
            where you have to fill in your personal data and the initial balance of your brokerage account.
            You must also choose your preferred way of signing your contract - with e-signature or by visiting us in our office.
        </p>
        <p class="para"><span style="font-size:25px;">Opening of your brokerage account</span><br><br>
            After signing your contract, you have to transfer the money for the initial balance of your brokerage account.
            Upon receiving the money transfer, you brokerage account is open. You can have only one brokerage at a time.
            Once your account is open, you can make as many money transfers as you want, especially if you plan to buy large number of stocks.
        </p>
        <p class="para"><span style="font-size:25px;">Making a stock order</span><br><br>
            Once your brokerage account is open, you can start placing <a th:href="@{/order-any-stock}">orders</a> for buying stocks.
            You can place order for any stock you want to buy by filling in the name of the company,
            the stock ticker and the number of the stocks you want to buy. You can place as many orders as you like.
            After processing of each order you will receive an email with detailed information.
        </p>
        <p class="para"><span style="font-size:25px;">Receiving your dividends</span><br><br>
            You will receive regular dividends for the stocks, whose issuer decides to pay dividends to its shareholders.
            There will be regular notifications for all the stocks which are declared to pay dividends and the expected amount of dividends.
            We will consult you about the taxation of the paid dividends.
        </p>
        <p class="para"><span style="font-size:25px;">Selling stocks</span><br><br>
            If you decide to sell a stock you must contact us in the most convenient way for you.
            We will consult you about the advantages and disadvantages or selling the stock
            and we will help you with arranging the sale and receiving the money in your account.
        </p>
    </div>
    <br>

</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>
