<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}" />
<body class="background" id="faq">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="all-analyses-container">
        <div class="all-analyses-header">
            <h1 class="all-analyses-heading">All Questions</h1>
<!--            <a class="summary-table-add-button" th:href="@{/create-analysis}">+</a>-->
        </div>

        <table class="summary-table">
            <thead>
            <tr>
                <th>#</th>
                <th>USER</th>
                <th>DATE</th>
                <th style="white-space: pre-wrap;" >QUESTION</th>
                <th style="white-space: pre-wrap;">ANSWER</th>
                <th>ACTIONS</th>
            </tr>
            </thead>

            <tbody>

            <th:block th:each="question, iter : ${questions}" th:object="${question}">
                <tr>
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="*{user.username}"></td>
                    <td th:text="*{#temporals.format(finishedOn, 'dd-MM-yyyy HH:mm') }"></td>
                    <td style="white-space: pre-wrap;" th:text="${question.question}"></td>
                    <td style="white-space: pre-wrap;" th:text="${question.answer}"></td>
                    <td >
                        <div>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/answer-question/{id}(id=*{id})}" class="summary-table-button">Answer</a>
                            </th:block>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/create-notification-A/{id}(id=*{id})}" class="summary-table-button">Notification</a>
                            </th:block>
                        </div>
                    </td>
                </tr>
            </th:block>

            </tbody>
        </table>
    </div>

</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>
