<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="faq">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <p class=" text-center text-white" style = "font-size:25px;" ><span>Answer Question</span></p>
    <br><br>

    <form id="faqForm" th:method="post" th:action="@{/answer-question/{id}(id=${model.id})}" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="row">
            <div class="col-md-12 text-white">
                <label for="FUser">User&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" id="FUser" th:value="${#authentication.getPrincipal().getUsername()}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="FQuestion">Question</label>
                <textarea class="text-white" name="question" id="FQuestion" maxlength="3000" rows="5" cols="5" th:text="${model.question}" readonly></textarea>
            </div>
            <div class="col-md-12 text-white">
                <label for="FAnswer">Answer</label>
                <textarea class="text-white" name="answer" id="FAnswer" maxlength="3000" rows="5" cols="5" placeholder="Type answer here..." th:text="${model.answer}"></textarea>
            </div>
            <br><br><br>

            <input id="FButton" type="submit" value="Send">
        </div>
    </form>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>