<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="faq">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <section class="general-form-page">
        <h2 class="general-form-heading">Add FAQ</h2>

        <form class="general-form" th:method="post" th:action="@{/create-faq}" enctype="multipart/form-data"
              th:object="${model}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <div class="form-group" th:classappend="${#fields.hasErrors('question')}? 'text-danger'">
                <textarea class="general-form-field" th:field="*{question}" name="question" id="FQuestion"
                          maxlength="3000" rows="5" cols="5" placeholder="Question" required></textarea>
                <small th:each="error : ${#fields.errors('question')}" th:text="${error}"></small>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('answer')}? 'text-danger'">
                <textarea class="general-form-field" th:field="*{answer}" name="answer" id="FAnswer" maxlength="3000"
                          rows="5" cols="5" placeholder="Answer" required></textarea>
                <small th:each="error : ${#fields.errors('answer')}" th:text="${error}"></small>
            </div>

            <input class="general-form-button" type="submit" value="Send">
        </form>

    </section>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
