<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

<div class="faq-container">
    <h1 class="faq-heading">Frequently Asked Questions(FAQ)</h1>
    <a class="btn btn-danger text-center mr-3" th:href="@{/ask-question}">Ask a question</a>
    <th:block th:each="faq : ${faqs}">
        <div class="faq-item">
            <p class="faq-question" th:text="${faq.question}"></p>
            <p class="faq-answer" th:text="${faq.answer}"></p>
        </div>
    </th:block>
</div>



</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
