<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main>
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="faq-container">
        <h1 class="faq-heading">FAQ</h1>

        <th:block th:each="faq : ${faqs}">
            <div class="faq-item">
                <p class="faq-question" th:text="${faq.question}"></p>
                <p class="faq-answer" th:text="${faq.answer}"></p>
            </div>
        </th:block>

        <a class="faq-button" th:href="@{/ask-question}">Ask a question</a>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
