/*details pages*/
.grid-container {
    display: grid;
    grid-template-columns: 32% 7% 23% 32%;
    grid-gap: 30px 30px;
    padding: 10px;
    grid-template-rows: 50px 400px;
}
.grid-item {
    background-color: transparent;
    /*border: 1px solid white;*/
    /*color: white;*/
    /*font-size: 30px;*/
    /*text-align: center;*/
}

#SEitem6 {
    grid-column: 2 / span 2;
    vertical-align: 25px;
    text-align: center
}

#SEitem1,#SEitem2,#SEitem3,#SEitem4,#SEitem5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#SEitem3 {
    display: flex;
    align-items: center;
    justify-content: right;
}

#SEitem7 {
    display: flex;
    justify-content: center;
}

.img1{
    height: 100%;
    width: 100%;
    display: block;
}

.img2{
    height: 100%;
    width: 100%;
    display: block;
}
.stock-table {
    position: fixed;
    margin-top: 0;
    width: 30%;
}
.td {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #009900;
    text-align: center;
}

#BuyStockButton{
    color: white;
    width: 346px;
    background-color: brown;
}

#showGraphics{
    color: white;
    width: 346px;
    background-color: brown;
}
/*-----------------------------------------------------------------------------------------------------*/
/*All-Tables*/
.fl-table {
    border-radius: 5px;
    font-size: 17px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 70%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    margin: 0 auto;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    border-right: 1px solid black;
}

.fl-table td {
    border-right: 1px solid black;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #AB274F;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #AB274F;
}

.fl-table tr:nth-child(even) {
    background: lightgray;
}

/* Responsive */
@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
/*-----------------------------------------------------------------------------------------------------------------*/
/*Info Panel-scrolls*/

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
.ticker-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 3rem;
    padding-left: 100%;
    box-sizing: content-box;
}
#ticker-wrap2 {
    position: fixed;
    bottom: 3rem;
    background-color: #1B4D6E;
}

#ticker-wrap1 {
    position: fixed;
    bottom: 0;
    background-color: #13364D;
}

.ticker-wrap .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 3rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 50s;
}
.ticker-wrap .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 25px;
    color: white;
}
/*-----------------------------------------------------------------------------------------------------------------*/
/*Info Panel - clocks*/

.clock {
    font-family: sans-serif;
    border: thin solid;
    border-radius: 10px;
    padding: 5px;
}
/*------------------------------------------------------------------------------------------------------------------*/
/*timeline*/

.timeline{
    margin-top:20px;
    position:relative;

}

.timeline:before{
    position:absolute;
    content:'';
    width:4px;
    height:calc(100% + 50px);
    background: rgb(138,145,150);
    background: -moz-linear-gradient(left, rgba(138,145,150,1) 0%, rgba(122,130,136,1) 60%, rgba(98,105,109,1) 100%);
    background: -webkit-linear-gradient(left, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
    background: linear-gradient(to right, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d',GradientType=1 );
    left:14px;
    top:5px;
    border-radius:4px;
}

.timeline-month{
    position:relative;
    padding:4px 15px 4px 35px;
    background-color: #5E0F00;
    display:inline-block;
    width:auto;
    border-radius:40px;
    border:1px solid #17191B;
    border-right-color:black;
    margin-bottom:30px;
    height: 5%;
}

.timeline-month span{
    position:absolute;
    top:-1px;
    left:calc(100% - 10px);
    z-index:-1;
    white-space:nowrap;
    display:inline-block;
    background-color:lightgoldenrodyellow;
    padding:4px 10px 4px 20px;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    border:1px solid black;
    box-sizing:border-box;
}

.timeline-section{
    padding-left:35px;
    display:block;
    position:relative;
    margin-bottom:30px;
}

.timeline-date{
    margin-bottom:15px;
    padding:2px 15px;
    background: #A81230;
    position:relative;
    display:inline-block;
    border-radius:20px;
    border:1px solid #17191B;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}
.timeline-section:before{
    content:'';
    position:absolute;
    width:30px;
    height:1px;
    background-color:#444950;
    top:12px;
    left:20px;
}

.timeline-section:after{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    background:linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
    top:7px;
    left:11px;
    border:1px solid #17191B;
    border-radius:100%;
}

.timeline-section .col-sm-4{
    margin-bottom:15px;
}

.timeline-box{
    position:relative;
    background-color:#444950;
    border-radius:15px;
    border-top-left-radius:0px;
    border-bottom-right-radius:0px;
    border:1px solid #17191B;
    transition:all 0.3s ease;
    overflow:hidden;
}

.box-icon{
    position:absolute;
    right:5px;
    top:0px;
}

.box-title{
    padding:5px 15px;
    border-bottom: 1px solid #17191B;
}

.box-title i{
    margin-right:5px;
}

.box-content{
    padding:5px 15px;
    background-color:#17191B;
}

.box-content strong{
    color:#666;
    font-style:italic;
    margin-right:5px;
}

.box-item{
    margin-bottom:5px;
}

.box-footer{
    padding:5px 15px;
    border-top: 1px solid #17191B;
    background-color:#444950;
    text-align:right;
    font-style:italic;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*All Users*/
.bla {
    border-bottom: 1px solid white;
    border-collapse: collapse;
}

#bttn1, #bttn2, #bttn3, #bttn4, #bttn5, #bttn6 {
    margin: 5px;
    width: 105px;
    font-size: 13px;
}
/*-----------------------------------------------------------------------------------------------------------------*/
/*charts*/
#wrap {
    width: 80%;
    margin: 0 auto;
    background-color: lightyellow;
    padding: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------*/
/*notifications*/
/*.cf {*/
/*    *zoom: 1;*/
/*}*/
/*.cf:before, .cf:after {*/
/*    content: " ";*/
/*    display: table;*/
/*}*/
/*.cf:after {*/
/*    clear: both;*/
/*}*/

/*body .wrapper2 {*/
/*    max-width: 450px;*/
/*    margin: 0 auto;*/
/*}*/
/*body .wrapper2 h1 {*/
/*    margin-top: 50px;*/
/*    margin-bottom: 50px;*/
/*    text-transform: uppercase;*/
/*    font-size: 1.5em;*/
/*}*/
/*body .wrapper2 .speechbubble {*/
/*    background-color: #26272b;*/
/*    color: #9fa2a7;*/
/*    font-size: 0.8em;*/
/*    line-height: 1.75;*/
/*    padding: 15px 25px;*/
/*    margin-bottom: 75px;*/
/*    cursor: default;*/
/*}*/
/*body .wrapper2 .speechbubble:nth-child(2n) {*/
/*    border-left: 5px solid;*/
/*}*/
/*body .wrapper2 .speechbubble:nth-child(2n):after {*/
/*    content: '';*/
/*    margin-top: -30px;*/
/*    padding-top: 0px;*/
/*    position: relative;*/
/*    bottom: -45px;*/
/*    left: 20px;*/
/*    border-width: 30px 0 0 30px;*/
/*    border-style: solid;*/
/*    border-color: #26272b transparent;*/
/*    display: block;*/
/*    width: 0;*/
/*}*/
/*body .wrapper2 .speechbubble:nth-child(2n+1) {*/
/*    border-right: 5px solid;*/
/*}*/
/*body .wrapper2 .speechbubble:nth-child(2n+1):after {*/
/*    content: '';*/
/*    margin-top: -30px;*/
/*    padding-top: 0px;*/
/*    position: relative;*/
/*    bottom: -45px;*/
/*    left: 350px;*/
/*    border-width: 30px 30px 0 0;*/
/*    border-style: solid;*/
/*    border-color: #26272b transparent;*/
/*    display: block;*/
/*    width: 0;*/
/*}*/
/*body .wrapper2 .speechbubble:nth-child(4n+1) {*/
/*    border-color: #56b273;*/
/*}*/
/*body .wrapper2 .speechbubble:nth-child(4n+2) {*/
/*    border-color: #01ad9b;*/
/*}*/
/*body .wrapper2 .speechbubble:nth-child(4n+3) {*/
/*    border-color: #b388dd;*/
/*}*/
/*body .wrapper2 .speechbubble:nth-child(4n+4) {*/
/*    border-color: #ff8750;*/
/*}*/
/*body .wrapper2 .speechbubble p:before {*/
/*    content: "“";*/
/*    font-family: Georgia;*/
/*    font-size: 40px;*/
/*    line-height: 0;*/
/*    display: inline-block;*/
/*    display: -webkit-inline-box;*/
/*}*/
/*body .wrapper2 .speechbubble .username {*/
/*    display: inline;*/
/*    font-style: italic;*/
/*    float: right;*/
/*}*/
/*body .wrapper2 .speechbubble .username:before {*/
/*    content: '- ';*/
/*}*/
/*------------------------------------------------------------------------------------------------*/
/*Converter*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.containerCurr {
    width: 500px;
    margin: 20px auto;
    user-select: none;
    overflow-x: hidden;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: #505562;
    color: #fff;
}
.header {
    background-color: #2d2d37;
    text-align: center;
    padding: 1.75rem;
}
.header h1 {
    font-size: 2.25rem;
}
.date {
    background-color: #222;
    text-align: right;
    font-size: 0.75rem;
    padding: 0.75rem 2rem 0.75rem 0;
}
ul.currencies {
    height: calc(100vh - 40px - 250px - 40px - 58px);
    background-color: #222;
    padding: 0 1.5rem 1rem 1.5rem;
    overflow-y: auto;
}
ul.currencies li {
    background-color: #2d2d37;
    border-radius: 5px;
    list-style: none;
    padding: 1rem 1rem 0.75rem 1rem;
    margin-bottom: 1rem;
    position: relative;
}
ul.currencies li:last-child {
    margin-bottom: 0;
}
ul.currencies li.base-currency {
    background-color: #264d73;
}
.flag {
    width: 60px;
    height: 40px;
    border: 1px solid #fff;
    vertical-align: top;
}
.info {
    display: inline-block;
    width: 78%;
}
.info .input span {
    font-size: 1.5rem;
    display: inline-block;
    width: 4rem;
    text-align: center;
}
.info .input input {
    font-size: 1.5rem;
    width: 78%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 0.3rem;
    margin-bottom: 0.75rem;
}
.info .currency-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 4rem;
}
.info .base-currency-rate {
    font-size: 0.8rem;
    margin-left: 4rem;
}
ul.currencies li .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    color: #666;
    cursor: pointer;
}
ul.currencies li .close:hover {
    color: #fff;
}

/* Scrollbar */
ul.currencies::-webkit-scrollbar {
    width: 5px;
}
ul.currencies::-webkit-scrollbar-thumb {
    background-color: #2d2d37;
    border-bottom: 1rem solid #222;
}

ul.add-currency-list {
    position: absolute;
    bottom: 54px;
    left: 105%;
    background-color: #f1f1f1;
    color: #333;
    width: 100%;
    height: calc(100vh - 40px - 100px - 55px);
    overflow-y: auto;
    transition: all 0.25s;
}
ul.add-currency-list li {
    list-style: none;
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
}
ul.add-currency-list li.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
ul.add-currency-list li .flag {
    width: 3rem;
    height: 2rem;
    vertical-align: middle;
}
ul.add-currency-list li span {
    margin-left: 1rem;
    font-weight: bold;
}

.add-currency-btn {
    background-color: #00b386;
    color: #fff;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-top: 3px solid #222;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.25s;
    position: relative;
}
.add-currency-btn i {
    position: absolute;
    top: 0.6rem;
    left: 30%;
    font-size: 2rem;
    opacity: 0;
    transition: all 0.25s;
}

.add-currency-btn.open {
    background-color: #d9534f;
}
.add-currency-btn.open i {
    opacity: 1;
    left: 1.25rem;
}
.add-currency-btn.open + ul.add-currency-list {
    left: 0;
}
.add-currency-btn.open + ul.add-currency-list li:hover {
    background-color: #ddd;
}

@media (max-width: 600px) {
    html { font-size: 14px; }
    .container { width: 100%; margin: 0 auto; }
    ul.currencies { height: calc(100vh - 83px - 34px - 51px); }
    .header h1 { font-size: 2rem; }
    .flag { width: 3rem; height: 2rem; }
    .info .input span { font-size: 1.25rem; width: 3.5rem; }
    .info .input input { font-size: 1.25rem; width: 76%;}
    .info .currency-name { margin-left: 3.5rem; }
    .info .base-currency-rate { margin-left: 3.5rem; }
    ul.add-currency-list { bottom: 48px; height: calc(100vh - 80px - 51px); }
    .add-currency-btn i { left: 25%; top:0.65rem; }
}

/*-------------------------------------------------------------------------------------*/
/*Loading*/
.loading {
    justify-content: center;
    align-items: center;
    display: flex;
    animation-delay: 1s;
}
.loading .dot {
    position: relative;
    width: 2em;
    height: 2em;
    margin: 0.8em;
    border-radius: 50%;
}
.loading .dot::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: wave 2s ease-out infinite;
}
.loading .dot:nth-child(1) {
    background: #7ef9ff;
}
.loading .dot:nth-child(1)::before {
    animation-delay: 0.2s;
}
.loading .dot:nth-child(2) {
    background: #89cff0;
}
.loading .dot:nth-child(2)::before {
    animation-delay: 0.4s;
}
.loading .dot:nth-child(3) {
    background: #4682b4;
}
.loading .dot:nth-child(3)::before {
    animation-delay: 0.6s;
}
.loading .dot:nth-child(4) {
    background: #0f52ba;
}
.loading .dot:nth-child(4)::before {
    animation-delay: 0.8s;
}
.loading .dot:nth-child(5) {
    background: #000080;
}
.loading .dot:nth-child(5)::before {
    animation-delay: 1s;
}
@keyframes wave {
    50%, 75% {
        transform: scale(2.5);
    }
    80%, 100% {
        opacity: 0;
    }
}
/*---------------------------------------------------------------------------------------*/
/*Confirmation*/

.toWrap {
    justify-content: center;
    text-align: center
}
.sketchy {
    padding: 4rem 8rem;
    display: inline-block;
    border: 3px solid #333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #fff;
    position: relative;
}
.sketchy::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}