<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background" id="market-index">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="text-center">
        <a class="btn btn-danger text-center mr-3" th:href="@{/create-index}">Add Market Index</a>
    </div>
    <br><br>

    <div class="containerAll">
        <th:block th:each="mi : ${mis}">
            <div class="cardAllD">
                <br>
                <img th:src="${mi.logoURL}" class="card__imageAll">
                <br>
                <br>
                <p class="card__nameAll" th:text="${mi.name}"></p>
                <br>
                <div class="grid-containerAll">
                </div>
                <a class="btnAll draw-border mb-3" th:href="@{/market-index/details/{id}(id=${mi.id})}">Details</a>
                <a class="btnAll draw-border mb-3" th:href="@{/market-index/edit/{id}(id=${mi.id})}">Edit</a>
                <a class="btnAll draw-border mb-3" th:href="@{/market-index/delete/{id}(id=${mi.id})}">Delete</a>
            </div>
        </th:block>
    </div>
    <br>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>