<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="all-wrapper">
        <h2 class="all-heading">Top Market Indexes</h2>

        <div class="all-cards-container">
            <th:block th:each="marketIndex : ${marketIndexes}">
                <div class="card all-market-index-card">
                    <img class="card-image" th:src="${marketIndex.logoURL}" >
                    <div class="card-content">
                        <p class="card-title" th:text="${marketIndex.name}"></p>
                        <div class="button-container">
                            <a class="card-button market-index-button" th:href="@{/market-index/details/{id}(id=${marketIndex.id})}">Details</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>