<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}" />
<body class="background">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}" />

    <section class="general-form-page">
        <h2 class="general-form-heading">Delete Market Index</h2>

        <form class="general-form" th:method="post" th:action="@{/market-index/delete/{id}(id=${model.id})}">

            <div class="general-form-group">
                <label class="general-form-label" for="IName">Name</label>
                <input class="general-form-field readonly-field" type="text" name="name" id="IName" th:value="${model.name}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="IDescription">Description</label>
                <textarea class="general-form-field readonly-field" name="description" id="IDescription" maxlength="1200" rows="6" cols="5" th:text="${model.description}" readonly></textarea>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="IFoundation">Foundation</label>
                <input class="general-form-field readonly-field" type="text" name="foundation" id="IFoundation" th:value="${model.foundation}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="IOperator">Operator</label>
                <input class="general-form-field readonly-field" name="operator" type="text" id="IOperator" th:value="${model.operator}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="IType">Type</label>
                <input class="general-form-field readonly-field" type="text" name="type" id="IType" th:value="${model.type}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="IConstituents">Constituents</label>
                <input class="general-form-field readonly-field" type="text" name="constituents" id="IConstituents" th:value="${model.constituents}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="IExchanges">Stock Exchanges</label>
                <input class="general-form-field readonly-field" type="text" name="exchange" id="IExchanges" th:value="${model.exchange}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="IClosingValue">Previous Day Closing Value</label>
                <input class="general-form-field readonly-field" type="text" name="closingValue" id="IClosingValue" th:value="${model.closingValue}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="IWebsite">Website</label>
                <input class="general-form-field readonly-field" type="text" name="website" id="IWebsite" th:value="${model.website}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="ILogoURL">Logo URL</label>
                <input class="general-form-field readonly-field" type="text" name="logoURL" id="ILogoURL" th:value="${model.logoURL}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="IPictureURL">Picture URL</label>
                <input class="general-form-field readonly-field" type="text" name="pictureURL" id="IPictureURL" th:value="${model.pictureURL}" readonly/>
            </div>

            <div class="general-form-group">
                <label class="general-form-label" for="year">Year</label>
                <input class="general-form-field readonly-field" name="year" type="text" id="year" th:value="${model.year}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="january">January</label>
                <input class="general-form-field readonly-field" name="january" type="text" id="january" th:value="${model.january}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="february">February</label>
                <input class="general-form-field readonly-field" name="february" type="text" id="february" th:value="${model.february}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="march">March</label>
                <input class="general-form-field readonly-field" name="march" type="text" id="march" th:value="${model.march}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="april">April</label>
                <input class="general-form-field readonly-field" name="april" type="text" id="april" th:value="${model.april}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="may">May</label>
                <input class="general-form-field readonly-field" name="may" type="text" id="may" th:value="${model.may}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="june">June</label>
                <input class="general-form-field readonly-field" name="june" type="text" id="june" th:value="${model.june}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="july">July</label>
                <input class="general-form-field readonly-field" name="july" type="text" id="july" th:value="${model.july}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="august">August</label>
                <input class="general-form-field readonly-field" name="august" type="text" id="august" th:value="${model.august}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="september">September</label>
                <input class="general-form-field readonly-field" name="september" type="text" id="september" th:value="${model.september}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="october">October</label>
                <input class="general-form-field readonly-field" name="october" type="text" id="october" th:value="${model.october}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="november">November</label>
                <input class="general-form-field readonly-field" name="november" type="text" id="november" th:value="${model.november}" readonly/>
            </div>
            <div class="general-form-group">
                <label class="general-form-label" for="december">December</label>
                <input class="general-form-field readonly-field" name="december" type="text" id="december" th:value="${model.december}" readonly/>
            </div>

            <input class="general-form-button delete-button" type="submit" value="Send">
        </form>
    </section>

</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>
