<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}" />
<body class="background" id="market-index">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}" />

    <p class=" text-center text-white" style="font-size:25px;"><span>Delete Market Index</span></p>
    <br><br>

    <form id="indexForm" th:method="post" th:action="@{/market-index/delete/{id}(id=${model.id})}">
        <div class="row">
            <div class="col-md-12 text-white">
                <label for="IName">Name</label>
                <input type="text" name="name" id="IName" th:value="${model.name}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="IDescription">Description</label>
                <textarea class= "text-white" name="description" id="IDescription" maxlength="1200" rows="6" cols="5" th:text="${model.description}" readonly></textarea>
            </div>
            <div class="col-md-12 text-white">
                <label for="IFoundation">Foundation</label>
                <input type="text" name="foundation" id="IFoundation" th:value="${model.foundation}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="IOperator">Operator</label>
                <input name="operator" type="text" id="IOperator" th:value="${model.operator}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="IType">Type</label>
                <input type="text" name="type" id="IType" th:value="${model.type}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="IConstituents">Constituents</label>
                <input type="text" name="constituents" id="IConstituents" th:value="${model.constituents}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="IExchanges">Stock Exchanges</label>
                <input type="text" name="exchange" id="IExchanges" th:value="${model.exchange}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="IClosingValue">Previous Day Closing Value</label>
                <input type="text" name="closingValue" id="IClosingValue" th:value="${model.closingValue}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="IWebsite">Website</label>
                <input type="text" name="website" id="IWebsite" th:value="${model.website}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="ILogoURL">Logo URL</label>
                <input type="text" name="logoURL" id="ILogoURL" th:value="${model.logoURL}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="IPictureURL">Picture URL</label>
                <input type="text" name="pictureURL" id="IPictureURL" th:value="${model.pictureURL}" readonly/>
            </div>

            <div class="col-md-12 text-white">
                <label for="year">Year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="year" type="text" id="year" th:value="${model.year}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="january">January &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="january" type="text" id="january" th:value="${model.january}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="february">February &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="february" type="text" id="february" th:value="${model.february}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="march">March
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="march" type="text" id="march" th:value="${model.march}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="april">April&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="april" type="text" id="april" th:value="${model.april}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="may">May &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="may" type="text" id="may" th:value="${model.may}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="june">June &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="june" type="text" id="june" th:value="${model.june}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="july">July &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="july" type="text" id="july" th:value="${model.july}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="august">August&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="august" type="text" id="august" th:value="${model.august}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="september">September &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="september" type="text" id="september" th:value="${model.september}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="october">October &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="october" type="text" id="october" th:value="${model.october}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="november">November&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="november" type="text" id="november" th:value="${model.november}" readonly/>
            </div>
            <div class="col-md-12 text-white">
                <label for="december">December&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input class="text-white" name="december" type="text" id="december" th:value="${model.december}" readonly/>
            </div>
        </div>

        <input id="IDeleteButton" type="submit" value="Delete">
    </form>

</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>
