<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="background">
<main>
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="details-page-wrapper">
        <img class="details-page-main-picture regular" th:src="${model.pictureURL}" alt="picture">

        <div class="details-page-content">
            <section class="details-page-data-section">
                <img class="details-page-logo" th:src="${model.logoURL}" alt="logo">

                <h3 class="overview-heading">Overview</h3>

                <div class="overview-table">
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Foundation</div>
                        <div class="table-data-right-cell" th:text="${model.foundation}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Operator</div>
                        <div class="table-data-right-cell" th:text="${model.operator}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Exchanges</div>
                        <div class="table-data-right-cell" th:text="${model.exchange}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Constituents</div>
                        <div class="table-data-right-cell" th:text="${model.constituents}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Type</div>
                        <div class="table-data-right-cell" th:text="${model.type}"></div>
                    </div>
                    <div class="overview-table-row">
                        <div class="table-data-left-cell short">Website</div>
                        <div class="table-data-right-cell"><a class="table-link" th:href="@{ ${model.website}}">visit
                            website</a></div>

                    </div>
                </div>

            </section>
            <div class="details-page-text-section">
                <p class="display-page-heading" th:text="${model.name}"></p>
                <p class="display-page-text" th:text="${model.description}"></p>
                <a class="show-graphics-button" th:href="@{/graphics/index/{id}(id=${model.id})}">Show Graphics</a>
            </div>

        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
