<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body class="background">
<main>
    <th:block th:include="~{fragments/navbar-error}"/>
    <div class="error-section">
        <div class="diagram-container">>
            <div class="first-layer">
                <p class="block-of-first-layer">Hello there! This is our</p>
                <p class="block-of-first-layer">ERROR PAGE</p></div>
            <div class="second-layer">
                <p class="first-block-of-second-layer"></p>
                <p class="second-block-of-second-layer"></p>
            </div>
            <div class="third-layer"></div>
            <div class="fourth-layer">
                <div class="content-block-of-fourth-layer">
                    <div class="error-content">
                        <i class="fas fa-times"></i>
                        <span class="error-line">Problem:</span>
                        <span class="error-line">System error</span>
                    </div>
                    <div class="error-content">
                        <i class="fas fa-check"></i>
                        <span class="error-line">Solution:</span>
                        <span class="error-line">Replace the programmer</span>
                    </div>
                </div>
                <div class="empty-block-of-fourth-layer"></div>
                <div class="content-block-of-fourth-layer">
                    <div class="error-content">
                        <i class="fas fa-times"></i>
                        <span class="error-line">Problem:</span>
                        <span class="error-line">User error</span>
                    </div>
                    <div class="error-content">
                        <i class="fas fa-check"></i>
                        <span class="error-line">Solution:</span>
                        <span class="error-line">Replace the user</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="real-error-container">
        <div class="error-details">
            <span class="error-title">Exact problem: </span><span th:utext="${message}"></span>
        </div>
    </div>

</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>