<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>

<body class="background">
<main>
    <th:block th:include="~{fragments/navbar-user}"/>
    <section class="home-section">

        <nav class="upper-breadcrumb-navigation">
            <ul class="breadcrumb-list">
                <li class="first-breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/home}">Home</a></li>
                <li class="breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/all-stock-exchange}">Stock Exchanges</a></li>
                <li class="breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/all-index}">Market Indexes</a></li>
                <li class="breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/all-company}">Companies</a></li>
                <li class="breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/all-stock}">Stocks</a></li>
                <li class="breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/info-panel}">Expert`s corner</a>
                </li>
            </ul>
        </nav>

        <section class="home-content-container">

            <article class="facts-container">
                <div class="fact-wrapper">
                    <div class="fact-header"><i class="far fa-lightbulb"></i> <span class="fact-question">Did you know that ... </span></div>
                    <p class="fact-content" th:text="${fact.factText}"></p>
                </div>
            </article>

            <article class="center-container">
                <div class="introduction-container">
                    <h2 class="introduction-heading">BANK$TER$</h2>
                    <p class="introduction-paragraph">is a licensed investment broker working with individual investors
                        who want to trade with stocks of Bulgarian and international companies.</p>
                    <p class="introduction-paragraph">We are experienced financial consultant who will explain
                        thoroughly and professionally your investment options.</p>
                </div>
            </article>

            <article class="cookie-container">
                <button id="myBtn">
                    <img src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1611605738/Java%20Project/download-removebg-preview_nxsli2.png">
                </button>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <div class="close-container">
                            <span class="close">&times;</span>
                        </div>
                        <p>We may use cookies or similar technologies to optimize your user experience.
                            If you continue to use this site, you consent to our use of cookies and similar
                            technologies. You can check our Cookie and GDPR policies <a th:href="@{/GDPR}">here</a>
                        </p>
                    </div>
                </div>
            </article>
        </section>

        <nav class="lower-breadcrumb-navigation">
            <ul class="breadcrumb-list">
                <li class="first-breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/about-us}">About us</a></li>
                <li class="breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/walkthrough}">Walkthrough</a></li>
                <li class="breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/dictionary}">Dictionary</a></li>
                <li class="breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/faq}">FAQ</a></li>
                <li class="breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/GDPR}">Cookies & GDPR policy</a></li>
                <li class="breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/general-terms}">Terms & Conditions</a></li>
                <li class="breadcrumb-li-item"><a class="breadcrumb-a" th:href="@{/contact-us}">Contact us</a></li>
            </ul>
        </nav>
    </section>
    <script src="/js/modal.js"></script>
</main>
<th:block th:include="~{fragments/footer-home-page}"/>
</body>
</html>
