<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body class="index">
<main class="main">
    <th:block th:include="~{fragments/navbar-guest}"/>

    <section class="index-container">
        <h1 class="index-heading">Welcome to Bank$ter$!</h1>
        <div class="index-image-container">
            <img class="index-image"
                 src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1593212503/Java%20Project/stocks-thinkstock_gdthbm.jpg">
        </div>
        <div class="index-paragraph-container">
            <p class="index-paragraph"><a th:href="@{/register}">Register</a> if you are above 18yo and want to trade
                with stocks.</p>
            <p class="index-paragraph"><a th:href="@{/login}">Login</a> if you already have registration.</p>
        </div>
    </section>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
