<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}" />
<body class="background" id="contract">
<main class="main">
    <th:block th:include="~{fragments/navbar-user}"/>

    <div class="all-analyses-container">
        <div class="all-analyses-header">
            <h1 class="all-analyses-heading">All Contracts</h1>
        </div>

        <table class="summary-table">
            <thead>
            <tr>
                <th>#</th>
                <th>USER</th>
                <th>DATE</th>
                <th>WAY OF SIGNING</th>
                <th>INITIAL BALANCE</th>
                <th>ACTIONS</th>
            </tr>
            </thead>

            <tbody>

            <th:block th:each="contract, iter : ${contracts}" th:object="${contract}">
                <tr>
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="*{user.username}"></td>
                    <td th:text="*{#temporals.format(finishedOn, 'dd-MM-yyyy HH:mm') }"></td>
                    <td th:text="${contract.signing}"></td>
                    <td th:text="${contract.initialAccountBalance}"></td>
                    <td >
                        <div>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/create-notification-C/{id}(id=*{id})}" class="summary-table-button">Notification</a>
                            </th:block>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <p class=" text-center text-white" style="font-size:25px;"><span>All Contracts</span></p>
    <br><br>

    <div class="table-wrapper">
        <table class="fl-table">

            <thead>
            <tr>
                <th>#</th>
                <th>USER</th>
                <th>DATE</th>
                <th>WAY OF SIGNING</th>
                <th>INITIAL BALANCE</th>
                <th>ACTIONS</th>
            </tr>
            </thead>

            <tbody>

            </tbody>

        </table>
    </div>
    <br><br>

</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>
